
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: var(--spacing-sm) var(--spacing-lg);
}
.common-page {
  padding: 0 var(--spacing-sm);
  width: 100%;
  min-width: 960px;
}
.common-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-sm) 0;
  gap: var(--spacing-sm);
}

.container-fluid {
  padding: 0%;
}
